body {
    margin: 0;
    padding: 10px;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0); /* настоящая прозрачность */
}

#countdown {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

#log {
    font-size: 20px;
    max-height: 400px;
    overflow-y: auto;
}
